%ul.list-group.mt-3
  - if current_user.status == Setting.users.opening
    = link_to mobile_authc_new_user_path(current_user), :class => "list-group-item list-group-item-action py-5 px-5" do
      .row
        .col-3
          %h3
            实名认证
        .col-9.text-right
          %h3
            >
  - else
    = link_to mobile_authc_status_user_path(current_user), :class => "list-group-item list-group-item-action py-5 px-5" do
      .row
        .col-3
          %h3
            实名认证
        .col-9.text-right
          %h3
            >
