%section.jumbotron.text-center.rounded-0.mb-0
  .container
    %h1.jumbotron-heading Album example
    %p.lead.text-muted Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.
    %p
      %a.btn.btn-primary.my-2{:href => "#"} Main call to action
      %a.btn.btn-secondary.my-2{:href => "#"} Secondary action
-#
  = render "layouts/bootstrap/jumbotron"
