.d-flex.justify-content-center
  .spinner-border.text-primary{:role => "status", :style => "width: 3rem; height: 3rem;"}
    %span.sr-only Loading...
.spinner-grow{:role => "status", :style => "width: 3rem; height: 3rem;"}
  %span.sr-only Loading...
%button.btn.btn-primary{:disabled => "disabled", :type => "button"}
  %span.spinner-border.spinner-border-sm{"aria-hidden" => "true", :role => "status"}
  Loading...
%button.btn.btn-primary{:disabled => "disabled", :type => "button"}
  %span.spinner-grow.spinner-grow-sm{"aria-hidden" => "true", :role => "status"}
  Loading...
