- provide(:title, t('.title'))

.container-fluid.h-100
  .row.h-100.py-5.px-5
    .col-12
      %h1
        充值中心
      .row
        = form_for @order, :html=>{:class=>"form-horizontal", :target => "_blank"}, :validate => true do |f|
          .form-group.row.mb-5
            = f.label '￥', :class => "col-2 col-form-label col-form-label-lg text-right"
            .col-10
              = f.number_field :money, :id => "js-demand-price", :class => "form-control border-0 form-control-lg", :placeholder => "请输入充值金额", :step => :any
            .col-12
              %hr
          .form-group.row.text-center
            = f.submit '', :class=>"btn btn-block btn-lg alipay-btn"
