.user-breadcrumb{
  margin-bottom: 0;
  border-radius: 0;
  background: #FFF;
  padding: 10px 15px;
  color: #999;
  font-size: 13px;
  a{
    color: #999;
  }
}
.control-wrapper {
  height: 100%;
  .mail-box {
    height: 100%;
  }
}
.users.center {
  padding-bottom: 2rem;
  background: #dfdfdf;
}
.user-carousel-item {
  height: 475px;
}
.login-label-img {
  width: 40%;
}
.session-label-img {
  width: 60%;
}
.login-header{
  background: #f7f7f7;
}
#send-confirm-code {
  color:white;
}
.signin-wrap {
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #00c6ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.form-signin {
  width: 100%;
  max-width: 510px;
  padding: 30px;
  margin: 0 auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

