%form{:action => "#", :method => "get"}
  .input-group
    %input#system-search.form-control{:name => "q", :placeholder => "查找..."}
      %span.input-group-btn
        %button.btn.btn-default{:type => "submit"}
          %i.glyphicon.glyphicon-search
